
*{
    margin:0;
    padding: 0;
    list-style: none;
}
html,body{
    height: 100%;
}
body{
    background-color: #e88a8c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 600px;
    height: 400px;
    background-color: rgba(83.92,55.69,56.86,.5);
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 0 0 60px #000;
    display: flex;
    justify-content: center;
    align-content: center;
}
.form{
    width: 400px;
    font-family:微軟正黑體;
    color:#fff;
}
.form h2{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    margin-top: 20px;
}
.form .group{
    margin-bottom: 20px;
}
.form label{
    line-height: 2;
}
.form input{
    width: 100%;
    border: 1px solid #aaa;
    line-height: 3;
    border-radius: 2;
}
.form .btn-group{
    font-size: 0;
}
.form .btn{
    font-size: 20px;
    border-radius: 5px;
    border:none;
    background-color: #e57f81;
    width: 100px;
    padding: 10px 0;
}
.form .btn + .btn{
    margin-left: 20px;
}
a{text-decoration:none}
a:hover{text-decoration:underline}
a{color: black;}
ul,li{list-style:none;}
